/* header */
header{
    background-color: #EAC926;
}
.liebre ,.barra{
    display: inline-block;
    width: 40%;
}
#burguer{
    display: flex;
    margin-left:48%;;
    background-color: blue;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 5px;
    
}
input{
    width: 60%;
}
.p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.fa-sign-in-alt {
    color: black;
}
.fa-address-card{
    color: black;
}
.fa-shopping-basket{
    color: black;
}
.liebre {
    padding-top: 40px;
    margin-left: 30px;
    }

.primera-lista ,.segunda-lista{
    display: none;
}
/* main */

.home .camion{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 20px;
    top: -25px;
    color: #39b54a;
    position:relative;
    right: -80%;
}
.home .precios{
    font-size: 18px;
    padding-right: 10px;
    margin-left: -10px;
}
.home .descuento{
    padding-top: 2px;
    font-size: 16px;
    color: yellowgreen;
}
.home .articulos{
    border: solid 1px #b8b6b6;
    background-color: white;
}
.home .numeros{
    padding-top: 10px;
    border: solid 1px #b8b6b6;
    background-color: white;

}
.home .flex{
    display: flex;
    flex-direction: row;
}
.home .nombres{
    margin: -15px 0 0 20px;

}


/* footer */
footer{
    text-align: center;
    background-color: #e4e1e1;
}
footer p, h4, h6{
    color: #666;
}
footer .futer{
    margin-bottom: 55px;
}
footer .fa-credit-card{
    margin-top: 55px;
    margin-bottom: 10px;
color: #1259c3;
}
footer .fa-gift{
    margin-bottom: 10px;
color: #1259c3;
}
footer .fa-user-shield{
    margin-bottom: 10px;
color: #1259c3;
}


/* Media */
@media (min-width:361px){
    .liebre ,.barra ,.p1{
    display: inline-block;
width: 30%;
    }
    .primera-lista ,.segunda-lista  {
        display: flex;
justify-content: flex-end;
    }
    .primera-lista{
width: 30%;
    }
    .segunda-lista{
width: 88%;

    }
    .listas{
        display: flex;
    }

    #burguer{
        display: none;
    }

    .cajas{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: inline-block;
    width: 42%;
    margin: 10px 20px;
    }
    
}
.home header li{
    display: inline-block;

    padding: 10px;

}

/* DESKTOP */
@media (min-width:769px){
    .cajas{
        width: 20.40%;
    }
}